@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255 255 255;
  --text: 17 24 39;
}

.dark {
  --background: 17 24 39;
  --text: 255 255 255;
}

body {
  background-color: rgb(var(--background));
  color: rgb(var(--text));
}

@keyframes success-check {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-success-check {
  animation: success-check 0.5s ease-out forwards;
}