@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255 255 255;
  --text: 17 24 39;
}

.light {
  --background-color: #ffffff;
  --text-color: #000000;
  /* Other light mode styles */
}

.dark {
  --background-color: #1e1e2d;
  --text-color: #ffffff;
  /* Other dark mode styles */
}

body {
  background-color: rgb(var(--background));
  color: rgb(var(--text));
}

@keyframes success-check {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-success-check {
  animation: success-check 0.5s ease-out forwards;
}